<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/weather.png" type="image/png">
</head>

<body>
  <!-- Navbar -->
  {{>navbar}}

  <!-- main header  -->

  <div class="container mainHeader">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-5 col-12 mainHeaderRight">
            <figure>
              <img src="img/resizeportfolio-removebg-preview.png" alt="" class="img-fluid d-flex align-items-start">
            </figure>
          </div>
          <div class="col-md-5 col-12 mainHeaderLeft container">
            <p>Welcome to weather app</p>
            <h1>I am a<span> Full Stack Devloper</span></h1>
            <a href="https://instagram.com/_.abhi._5904?igshid=NGExMmI2YTkyZg==" class="btn"  target="_blank">about me</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer code  -->
  {{>footer}}
</body>

</html>