@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
}


html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navbar  */

.mainMenu{
    background-color:#57c2ff;
}
.navbar{
    color: white;
    background-color:#57c2ff;
    padding: 2rem 0;
}

.navbar a{
    color:  black;
    font-size: 1.5rem;
}

.navbar a:hover{
    color: 	white;
}

.navbar-brand{
    font-size: 1.8rem; 
    cursor: pointer; 
    font-weight:600;
}

/* header  */
.mainHeaderLeft{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.mainHeaderLeft p{
font-size: 2rem;
}

.mainHeaderLeft h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}

.mainHeaderLeft span{
    font-weight: bold;
    color: #57c2ff;
}

.mainHeaderLeft .btn{
    border:0px solid black;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px black;
    text-decoration: none;
    color: black;
}

.mainHeaderLeft .btn:hover{
    color: #002a50;
    box-shadow: 0 8px 6px -6px #57c2ff;
}

.mainHeaderRight figure img{
    filter: drop-shadow(0 0.5rem 1rem black);
}
.mainHeaderRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/* temp search  */

.tempForm{
    width: 60%;
    position: relative;
    margin: 3rem auto;
}

.tempForm input[type="text"]{
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background-color: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 1.3rem;
    border-radius: 3rem;
}

::placeholder{
    color: #bfc1bf;
}

.tempForm input[type="submit"]{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background-color: #009ad8;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
}

.tempForm input[type="submit"]:hover{
    color: #009ad8;
    background-color: white;
}
/* temp data  */

.tempInfo{
    width: 40rem;
    margin: auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
}

.topLayer{
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    /* padding:1rem; */
}

.topLayer p{
    color: white;
    font-weight: 400;
    padding: 2rem;
    font-size: 1.6rem;
}

.mainLayer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.mainLayer #city_name{
    padding: 2rem o;
    color: bfc1c8;
    font-weight:400;
    font-size: 3rem;
}

.mainLayer .middleLayer{
    display: flex;
    justify-content: space-around;
    color: white;
}

.mainLayer .middleLayer p,
.mainLayer .middleLayer .fa{
    font-size: 6rem;
    font-weight: 900;
}

.mainLayer .middleLayer .fa-solid{
    color: #009ad8;
}

.data_hide{
    visibility: hidden;
    transition: all 0.3s linear;
}
/* error page  */

.errimg{
    width: 60rem;
    height: 43rem;
}
#errbtn{
    margin-bottom: 5rem;
}

/* footer  */
footer{
    width: 100%;
    background-color: #002a50;
    margin-top: auto;
}

footer p {
    margin: 0;
    text-align: center;
    color: white;
    line-height: 5rem;
    font-size: 1.4rem;
}

/* responsiv code  */
@media (max-width:768px){
    .mainHeaderLeft{
        height: auto;
        margin: 5rem 0rem;
    }

    .mainHeaderRight{
        height: auto;
        margin: 5rem 0;
    }
    
    .mainHeaderLeft h1{
        font-size: 4.7rem;
    }

    .tempForm{
        width: auto;
    }

    .tempInfo{
        margin-bottom: 2rem;
    }
}